.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form-row input {
    width: 200px;
}

.centered-label {
    justify-content: center;
}

.ui-datepicker {
    position: absolute !important; 
    left: 50% !important;         
    top: 50% !important;          
    transform: translate(-50%, -50%) !important; 
    z-index: 10000;               
}